@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-panel {
    height: 400px;
    width: 250px;
    border: 1px black solid;
    position: relative;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .button-size {
      height: 50px;
      width: 100px;
      font-size: 1rem;
      font-family: 'Nunito', sans-serif;
    }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px black solid;
    width: 600px;
    height: 600px;
  }

    .grid-big {
      display: flex;
      flex: 1;
    }

    .grid-small {
      border: 0.5px black solid;
      flex: 1;
    }

    .grid-small:hover {
      background-color: blue;
    }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-flex {
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}