@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Oswald:wght@700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #14213D;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
  }

  header {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    left: 0;
    text-align: center;
    padding-top: 30px;
  }

    h1 {
      font-size: 4rem;
    }

  .button-panel {
    height: 400px;
    width: 250px;
    border: 1px #14213D solid;
    position: relative;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #14213D;
    color: #FFFFFF;
  }

    .button-size:hover {
      background-color: #14213D;
      color: #FFFFFF;
    }

    .button-size {
      height: 50px;
      width: 120px;
      font-size: 1rem;
      background-color: #FFFFFF;
      color: #14213D;
      font-weight: bold;
      border-color: #14213D;
      border-radius: 8px;
      font-family: 'Oswald', sans-serif;
    }

    .grid-choice {
      text-align: center;
    }

      input[type="color"] {
        height: 50px;
        width: 120px;
      }


  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px #14213D solid;
    width: 600px;
    height: 600px;
  }

    .grid-big {
      display: flex;
      flex: 1;
    }

    .grid-small {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      flex: 1;
    }

  .footer-text {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding-bottom: 20px;
  }
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-flex {
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #FFFFFF;
  padding: 20px;
  color: #14213D;
  border: 1px solid #FFFFFF;
  font-weight: 400;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #14213D;
  position: relative;
  float: right;
  font-size: 28px;
  font-weight: bold;
  bottom: 25px;
  left: 10px;
}

.close:hover,
.close:focus {
  color: #E5E5E5;
  text-decoration: none;
  cursor: pointer;
}

input[type="number"] {
  height: 30px;
  width: 300px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;

}

.modal-button {
  margin-top: 20px;
  height: 40px;
  width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal-text_top {
  font-size: 1.5rem;
}